[access]
	inheritFrom = All-Projects
[project]
	description = Provides REST API for messaging. It is built on top of Apache Kafka. ( READ ONLY - Repository has been moved.)
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-dmaap-messagerouter-msgrtr-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
